.p_postlist {
    position: relative;
    _position: static;
    border-style: solid;
    border-width: 2px 0;
    border-color: #999;
    border: 1px solid #e0e0e0;
    z-index: 1;
}

p, div, td {
    word-break: break-all;
}

user agent stylesheetdiv {
    display: block;
}

body.skin_1
body, button, input, select, textarea, td, th {
    font: 12px/18px Arial,'宋体';
}

.wrap2 {
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    width: 1895px;
    word-break: break-all;
    zoom: 1;
}

.l_container {
    width: 980px;
    margin: 0 auto;
}

.container {
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 457.5px;
    margin-right: 457px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 980px;
    word-break: break-all;
    zoom: 1;
}

.left_section {
    width: 100%;
    float: left;
    background: url(http://tb2.bdstatic.com/tb/static-pb/img/lzl/main_bg_right_675437ad.png) repeat-y;
    border: 1px solid #e0e0e0;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-size: auto;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    word-break: break-all;
}

.core {
    width: 740px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.p_content {
    position: relative;
    min-height: 145px;
    padding: 20px 15px 0 0;
}

.core_title_theme_2 {
    background: #fff;
    height: 43px;
    line-height: 43px;
    padding: 0 15px;
}

.core_title h1 {
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.core_title_btns {
    height: 25px;
    padding: 9px 0;
    display: block;
    float: right;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 25px;
    line-height: 43px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 9px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 9px;
    width: 24px;
}

.thread_theme_3 {
    height: 20px;
    padding: 0 0 10px;
}

.thread_theme_3 .l_thread_info {
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 24px;
    line-height: 18px;
    width: 740px;
    word-break: break-all;
}

.l_thread_manage {
    float: right;
    margin-top: 3px;
}

.d_del_thread {
    float: right;
    margin-right: 10px;
}

.l_posts_num {
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 112px;
}

.l_posts_num li {
    float: left;
    display: inline;
}
/*展开 收起回复 按钮*/

.lzl_link_fold {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(http://tb1.bdstatic.com/tb/static-pb/img/pb_css_pic.png?t=131024135711);
    background-origin: padding-box;
    background-size: auto;
    color: rgb(29, 83, 191);
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 80px;
}

.d_author, .d_author_anonym {
    display: inline-block;
    float: left;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    margin-left: 0px;
    text-align: center;
    background: #f3f3f3;
}
/*帖子所占区域，包含楼中楼*/
.d_post_content_main {
    float: left;
    width: 593px;
    padding: 0 0 7px 15px;
    display: inline;
 /*在d_author右边展示，而不换行*/
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
}

.p_reply {
    float: right;
    margin-left: 6px;
}

.p_tail .p_mtail {
    display: block;
    float: right;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 60px;
}

.p_tail {
    color: rgb(153, 153, 153);
    display: block;
    float: right;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.p_tail li, .p_mtail li {
    display: inline;
/*关键：不换行*/
    margin-left: 6px;
    color: #999;
}
/*主楼的结尾,删除之类的文字*/
.core_reply_tail ul {
    list-style: none;
    float: right;
}

.core_reply_tail {
    line-height: 28px;
    height: 33px;
}
/*楼中楼*/
.core_reply_wrapper {
    margin: 0 0 8px 15px;
    background: #fafafa;
}
/*楼中楼回复内容*/
.core_reply_wrapper {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(250, 250, 250);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 8px;
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 0px;
    width: 565px;
    word-break: break-all;
}

.lzl_content_reply {
/*lzl:楼中楼*/
    text-align: right;
}

li.j_lzl_s_p {
    margin-top: 6px;
    padding-top: 10px;
    border-bottom: 1px #d7d7d7 dotted;
}

.d_lzonly_bdaside, .p_favthr_main p, .j_quick_reply, .j_lzl_p a {
    color: #333;
}

a#lzonly_cntn.l_lzonly
.l_lzonly {
    line-height: 25px;
    text-align: center;
}

a {
    color: #1d53bf;
}

.l_post .p_post_ban, .l_post .p_post_ban_anonym, .l_post .p_post_del, .l_post .p_tieba_manage, .j_lzl_ban, .j_lzl_del {
    width: 100%;
    color: #999;
    text-decoration: none;
}
.l_post{
    border-top: 1px solid #d9d9d9;
}
.core_reply_content {
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    padding: 14px 15px;
    padding: 4px 15px 14px 15px;
}

.core_title_theme_2 .core_title_txt {
    float: left;
}



